
/TestResults
/_ReSharper.BLToolkit.Fluent
/BLToolkit.Fluent.suo
/BLToolkit.Fluent/bin
/BLToolkit.Fluent/obj
/BLToolkit.Fluent.Test/bin
/BLToolkit.Fluent.Test/obj
/BLToolkit.Fluent.sln.DotSettings.user
/BLToolkit.Fluent.v11.suo